.card {
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px; 
}
.about-heading {
  color: rgb(246, 2, 96);
  font-size: 2.5rem;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 5%;
}

/* Media query for screens with a minimum width of 768 pixels (tablet size) */
@media (min-width: 768px) {
  .card-text {
    text-indent: 20px;
  }

  .about-container {
    margin: 0 20px;
  }
}

/* Media query for screens with a minimum width of 1024 pixels (desktop size) */
@media (min-width: 1024px) {
  .card-text {
    text-indent: 30px;
  }

  .about-container {
    margin: 0 50px;
  }
}
