body {
  background-color: white;
}

.card {
  background-color: white;
}

.introContainer {
  margin-top: 20vh;
  text-align: center;
}

.text-h1 {
  color: rgb(246, 2, 96);
  text-align: justify;
  text-indent: 0px;
  margin-bottom: 30px;
  font-family: 'Courier New', Courier, monospace;
}

.col-md-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px; 
}

.profilePic {
  border-radius: 50%;
  width: 100%; 
  max-width: 300px;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.p2, .p1, .email {
  text-align: justify;
  text-indent: 0px;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .col-md-6 {
    flex: 1;
    width: 100%;
  }

  .profilePic {
    width: 50%;
    max-width: 150px;
  }
}
