.project-heading {
  color: rgb(246, 2, 96);
  font-size: 2.5rem;
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}

.proj-container {
  margin: 30px auto;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 90%;
  max-width: 800px;
}

.project-item {
  padding: 5px;
}

.proj-container ul {
  list-style: none;
  padding: 10px;
  margin-top: 10px;
}

.proj-container li {
  margin-bottom: 20px;
  padding: 15px;
}

.project-paragraph {
  text-align: justify;
  text-indent: 2%;
  line-height: 1.6;
  font-size: 1rem;
  color: #333;
  margin: 0.5rem 0;
}

/* Media queries */

@media (min-width: 768px) {
  .project-item p {
    text-indent: 4%;
    margin-top: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .project-item p {
    text-indent: 6%;
    margin-top: 2rem;
  }
}
