.resume-container {
    margin: 30px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    width: 90%;
  }
  
  .resume-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .pdf-container {
    width: 90%;
    max-width: 800px; /* Set a maximum width for desktop screens */
    margin-top: -350px;
    margin-left: -15%;
  }
  
  .pdf-container embed {
    width: 100%;
  }
  
  /* Media query for screens with a maximum width of 767px (mobile) */
  @media (max-width: 767px) {
    .pdf-container {
      padding-top: 100%; /* Set a responsive aspect ratio for mobile screens */
    }
  }
  