.resume-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  .resume-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .pdf-container {
    width: 100%;
    max-width: 800px; /* Set a maximum width for desktop screens */
    margin: 0 auto; /* Center the container horizontally */
  }
  
  .pdf-container embed {
    width: 100%;
    height: 800px; /* Set a fixed height for desktop screens */
  }
  