/* Default styles for all screen sizes */
.content-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set the minimum height of the container to 100% viewport height */
}

.footer-container {
  flex-shrink: 0; /* Prevent the footer from shrinking */
  background:rgba(0,0,0);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  padding: 20px 0; /* Increase the padding to make the footer taller */
  height: 80px; /* Set the height of the footer */
}

/* Media query for screens with a maximum width of 768 pixels */
@media (max-width: 768px) {
  .content-container {
    flex-direction: row;
    margin: 0 10px;
  }
  
  .footer-container {
    font-size: 14px;
    padding: 0 10px;
  }
}

/* Media query for screens with a minimum width of 1024 pixels */
@media (min-width: 1024px) {
  .content-container {
    flex-direction: column;
    margin: 0;
  }
  
  .footer-container {
    font-size: 16px;
    padding: 0 20px;
  }
}
