.navbar-purple {
  background: rgba(0,0,0);
}

/* Media query for (tablet size) */
@media (min-width: 768px) {
  .navbar-purple {
    background:  rgba(0,0,0);
  }
}

/* Media query for (desktop size) */
@media (min-width: 1024px) {
  .navbar-purple {
    background: rgba(0,0,0);
  }
}
