.App {
  text-align: justify;
  text-indent: 25%;
}

.ombre-text {
  background: -webkit-linear-gradient(left,  #ff6a00, #eeea09d6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App {
  background-color: rgba(240, 254, 159, 0.229);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mr-auto{
  margin-left: auto;
}